<div class="flex-container row center">
    <div class="col-lg-1"></div>
    <div class="higherEducation col-lg-10 col-sm-10">
        <div>
            <h5>Ausbildung</h5>
        </div>
        <div class="row">
            <div class="col-3">04/2023 - heute</div>
            <div class="col-9">
                <p>
                    Höhere Fachschule für Technik Mittelland AG, 2540 Grenchen
                    <br>
                    Student
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">08/2017 - 08/2021</div>
            <div class="col-9">
                <p>
                    Informatikschule Olten GmbH, 4600 Olten
                    <br>
                    Lernender
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>