<div class="flex-container row center">
    <div class="col-lg-1"></div>
    <div class="military col-lg-10 col-sm-10">
        <div>
            <h5>Militär / Zivildienst</h5>
        </div>
        <div class="row">
            <div class="col-3">01/2023 - 03/2023</div>
            <div class="col-9">
                <p>
                    Zivildienst im Museum Blumenstein, 4500 Solothurn
                    <br>
                    Student
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">07/2022 - 11/2022</div>
            <div class="col-9">
                <p>
                    Rekrutenschule, Telematiker RS, Frauenfeld
                    <br>
                    Lernender
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>