<div class="flex-container row center">
  <div class="col-lg-1"></div>
  <div class="personal row col-lg-10 col-sm-10">
    <div class="col-lg-3 col-sm-6">
      <img src="/Image.jpg" alt="persönliches foto" width="200" height="auto" style="max-width: 100%; height: auto; display: block;" />
      <br>
      <br>
    </div>
    <div class="personalInfo col-lg-9 col-sm-6">
      <p>Name Vorname: Krapl Nils</p>
      <p>Adresse: Burgstrasse 20, 4533 Riedholz</p>
      <p>Telefon: +41 79 153 53 00</p>
      <p>Email: <a href="mailto: nils.krapl@gmail.com">nils.krapl&#64;gmail.com</a></p>
      <p>Geburtsdatum: 17. Juli 2001 </p>
      <p>Bürgerort: Kriens LU</p>
      <p>Nationalität: Schweiz</p>
      <p>Zivilstand: Ledig</p>
    </div>
  </div>
</div>