<div class="flex-container row center">
  <div class="col-lg-1"></div>
  <div class="skills col-lg-10 col-sm-10">
    <div>
      <h5>Kenntnisse</h5>
    </div>
    <div class="flex-container row">
      <div class="col-lg-3"><strong>Sprachen:</strong></div>
      <div class="col-lg-9">
        <p>
          Deutsch (Muttersprache)
          <br>
          Englisch (B2)
        </p>
      </div>
    </div>
    <div class="flex-container row">
      <div class="col-lg-3"><strong>Programmiersprachen:</strong></div>
      <div class="col-lg-6">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 80%">Java</div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 60%">TypeScript</div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 70%">SQL</div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 35%">Python</div>
        </div>
        <br>
      </div>
    </div>
    <div class="flex-container row">
      <div class="col-lg-3"><strong>Scriptsprachen:</strong></div>
      <div class="col-lg-6">

        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%">JavaScript</div>
        </div>

        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 55%">PHP</div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 85%">HTML</div>
        </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3"><strong>Frameworks:</strong></div>
      <div class="col-lg-9">
        <p>
          Spring Boot
          <br>
          Angular
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>