@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.layout{
    margin-left: 7rem;
    margin-right: 7rem;
    padding-top: 5rem;
}

.layoutNav{
    margin-left: 7rem!important;
    margin-right: 7rem!important;
}

.nav-link, .navbar-brand{ 
    color: #FFFFFF!important;
}


.navBar{
    background-color: #0288D1!important;
}

.center {
    margin: auto;
    padding: 10px;
  }